<h1><%= @list.name %></h1>

<p><%= link_to "Add a movie", new_list_bookmark_path(@list) %></p>

<ul>
<%@movies.each do |movie|%>
<% @bookmark = Bookmark.find_by(movie: movie.id, list: @list) %>
<li>
<%= movie.title %> <%= link_to 'Delete',
delete_movies_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
</li>
</ul>

<p><%= link_to "Back to my lists", root_path %></p>
